*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-color: aqua;
    width: 100%;
}

.app{
    height: 100vh;
}

.row{
    width: 100%;
}

.app main{
    height: calc(100vh - 90px);
    background-color: navajowhite;
    overflow-y: scroll;
}

.app footer{
    height: 90px;
}

main .sidebar{
background-color: olive;
}

.content{
    display: flex;
    height: 200vh;
    background-color:palevioletred;
    margin: 0 auto;
    overflow-y: scroll;
    overflow: hidden;
}


.top-bar{
    height: 100px;
    background-color: red;
    position: fixed;
    display: flex;
    width: 100%;
}

.music{
    display: flex;
}
